<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Manager</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Upload your .nbt file</h1>

        <form action="/" method="POST" enctype="multipart/form-data" class="file-upload-form">
            <label for="nbt_file" class="btn upload-btn file-btn">Select File</label>
            <input type="file" name="nbt_file" id="nbt_file" class="file-input" onchange="this.form.submit()" required>
        </form>
               

        <table class="file-table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.filename }}</td>
                    <td>
                        <form action="/delete/{{ file.name }}" method="POST" class="action-form">
                            <button type="submit" class="btn delete-btn">Delete</button>
                        </form>
                        <a href="/download/{{ file.name }}" class="btn download-btn">Download</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
